.container-hours{
    width:40%;
    height: auto;
    border: solid 2px grey;
    border-radius: 15px;
    margin-right: 25%;
    margin-top: 5%;
    padding:5% 10%; 
    direction: rtl;  
}
.MuiInputLabel-formControl{
    right: 5%;
}