.program{
    border: 3px solid brown;
    border-radius: 2%;
    padding: 10%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.program-img{
    width:300px;
    height: 200px;
    cursor: pointer;
}
.video-open{
    position: fixed;
    width: 1037px;
    height: 583px;
    top: 50px;
    left: 200px;
}
.body-video-open{
    opacity: 0.4;
}