.wrapper-form{
    direction: rtl;
    width:50%;
    height: auto;
    border: solid 2px grey;
    border-radius: 15px;
    margin-right: 25%;
    margin-top: 5%;
    padding:3%;
    
   
    .row{
        margin: 40px;

        
    }
    .con{
        width: 70%;
        align-items: center;
    
    }

    .invalid-feedback{
        display: block;
    }

}



